@import "vars.sass"

.button
	position: relative
	width: 296px
	height: 58px
	background-color: $color-gold
	font-family: "Georgia", "Helvetica", "Open Sans", sans-serif
	font-weight: 400
	font-style: italic
	letter-spacing: 0.025em
	line-height: 3
	color: $bg-color-light
	border: none
	outline: none
	padding: 0
	&::before
		content: ""
		position: absolute
		display: block
		top: 28px
		right: -43px
		width: 7px
		height: 7px
		border-right: 1px solid $color-gold
		border-bottom: 1px solid $color-gold
		transform: rotate(-45deg)
	&::after
		content: ""
		position: absolute
		top: 31px
		right: -43px
		width: 43px
		height: 1px
		background-color: $color-gold
	&__link
		position: relative
		display: block
		color: #fff
		transition: all 0.3s ease
		&::before
			content: ""
			position: absolute
			top: 26px
			right: 0
			width: 10px
			height: 1px
			background-color: #fff
		&:link, &:visited, &:active
			text-decoration: none
			color: #fff
		&:focus
			border: none
			outline: none
		&:hover
			text-decoration: none
			color: rgba(248, 241, 238, 0.4)
			&::before
				background-color: $color-gold
	&_small
		width: 167px
		height: 50px
		font-size: 0.875em
		line-height: 1.143
		transition: all 0.3s ease
		.button__link
			transition: all 0.5s ease
			padding: 7px 0
		.button__link::before
			display: none
		&:hover
			background-color: #fff
			color: $text-gold
			border: 2px solid $color-gold
			.button__link
				background-color: #fff
				color: $color-gold
		&::before, &::after
			display: none
	&_mod-back
		width: 176px
		&::before
			left: -43px
			transform: rotate(135deg)
		&::after
			left: -43px
		.button__link::before
			left: 0
	&_mod-nolink
		transition: all 0.3s ease
		.button__link::before
			top: -22px
		&:hover
			color: rgba(248, 241, 238, 0.4)
			.button__link::before
				background-color: $color-gold