input[type=range]
		-webkit-appearance: none // Скрывает слайдер, чтобы можно было создать свой
		width: 100% // Указание параметра ширины требуется для Firefox.
		height: 70px
		background: transparent
		&::-webkit-slider-thumb
			-webkit-appearance: none
		&:focus
			outline: none // Убирает голубую границу у элемента. Хотя, возможно, и стоит создавать некоторое оформления для состояния фокуса в целях обеспечения доступности.
		&::-webkit-slider-thumb
			-webkit-appearance: none
			height: 47px
			width: 47px
			border-radius: 50%
			background: url(../img/home-header/mouse.png) center no-repeat #fff
			cursor: pointer
			margin-top: -22px
		&::-moz-range-thumb
			height: 47px
			width: 47px
			border-radius: 50%
			background: url(../img/home-header/mouse.png) center no-repeat #fff
			cursor: pointer
			border: none
	  &::-ms-thumb 
			height: 47px
			width: 47px
			border-radius: 50%
			background: url(../img/home-header/mouse.png) center no-repeat #fff
			cursor: pointer
			border: none

		&::-webkit-slider-runnable-track
			width: 100%
			height: 6px
			cursor: pointer
			background: rgb(177, 182, 193)
			border-radius: 24px
		&:focus::-webkit-slider-runnable-track
			background: rgb(177, 182, 193)
		&::-moz-range-track
			width: 100%
			height: 6px
			cursor: pointer
			background: rgb(177, 182, 193)
			border-radius: 24px
		&::-ms-track
			width: 100%
			height: 6px
			cursor: pointer
			background: transparent
			border-color: transparent
			color: transparent
		&::-ms-fill-lower
			background: rgb(177, 182, 193)
			border-radius: 24px
		&:focus::-ms-fill-lower
			background: rgb(177, 182, 193)
		&::-ms-fill-upper
			background: rgb(177, 182, 193)
			border-radius: 24px
		&:focus::-ms-fill-upper
			background: rgb(177, 182, 193)