@import "reset.sass"
@import "vars.sass"
@import "button.sass"

body
	position: relative
	margin: 0 auto
	min-width: 480px
	max-width: 480px
	background-color: #fff
	overflow-x: hidden
	font-size: 12pt
	font-family: "SFUI-Reg", "Helvetica", "Open Sans", sans-serif
	line-height: 1.5
	color: $text-color
	box-sizing: border-box
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3)

// loader
.loaded .main-wrapper
	visibility: hidden
.icon_load
	background: url(../img/loader.gif) no-repeat left top
	width: 40px
	height: 40px
	position: fixed
	left: 50%
	top: 50%
	margin-left: -20px
	display: none
.loaded .icon_load
	display: block

h1, h2, h3
	text-align: center
	font-size: 1.625em
	line-height: 1.615
	font-family: "SFUI-Light", "Helvetica", "Open Sans", sans-serif

.before
	content: ""
	position: absolute
	width: 100%
	height: 100%
	top: 0
	left: 0

.hidden
	display: none

.container
	padding: 0 11px
	width: 100%

.home-header
	background-color: $bg-color-light
	height: auto
	text-align: center
	&__top-wrap
		position: relative
		width: inherit
		min-height: 84px
	&__toogle
		position: absolute
		top: 0
		left: -11px
		width: 84px
		height: 84px
		padding: 0
		background-color: $color-gold
		border: none
		outline: none
	&__logo
		display: inline-block
		margin-top: 25px
		margin-left: -10px
	&__nav
		display: none
	&__content-wrap
		margin: 30px 26px 0
	&__title
		padding-bottom: 22px
		color: $text-color
	&__text
		position: relative
		padding: 11px 0 43px
		color: $text-brown
		&::after
			@extend .before
			left: 46%
			top: -5px
			width: 49px
			height: 1px
			background-color: rgb(225, 219, 215)
	&__comparison-image
		margin-top: 50px
		
// hamburger button
.nav-toogle__box
	position: relative
	display: inline-block
	width: 37px
	height: 32px

.nav-toogle__inner
	position: absolute
	display: inline-block
	top: 50%
	left: 0
	width: 37px
	height: 2px
	background-color: #FFF
	transition: all 0.3s ease
	&::before
		@extend .nav-toogle__inner
		content: ""
		top: -14px
	&::after
		@extend .nav-toogle__inner
		content: ""
		top: 15px

// 
.nav-toogle_opened
	border-right: 2px solid #fff
	border-bottom: 2px solid #fff
	z-index: 1000
	transition: all 0.3s ease
	&:hover
		background-color: #FFF
		box-shadow: inset 1px 1px 1px 0 rgb(225, 219, 215)
		.nav-toogle__inner
			background-color: $color-gold
	.nav-toogle__inner
		transform: rotate(45deg)
		&::after
			top: 14px
			left: -2px
			width: 38px
			transform: rotate(90deg) translateX(-12px)
		&::before
			display: none

// navigation
.top-nav
	display: none
	position: absolute
	top: 0
	left: 0
	width: 480px
	height: 1129px
	background-color: $color-gold
	z-index: 999
	&__list
		margin-top: 185px
	&__link
		display: block
		margin: 0 auto
		max-width: 280px
		text-transform: uppercase
		font-family: "SFUI-Bold", "Helvetica", "Open Sans", sans-serif
		font-weight: 700
		line-height: 5.625
		color: #fff
		transition: all 0.3s ease
		&:link, &:visited
			text-decoration: none
			color: #fff
		&:hover
			text-decoration: none
			background-color: #fff
			color: $color-gold
		&_phone
			font-family: "SFUI-Light", "Helvetica", "Open Sans", sans-serif
			font-size: 2.25em
			font-weight: normal
			max-width: 300px
			&:hover
				background-color: $color-gold
				color: #fff

// comparison-image

.twentytwenty-handle
	top: 67%
	width: 77px
	height: 77px
	margin-left: -39px
	box-shadow: none
	border: none
	background: url(../img/home-header/mouse.png) no-repeat center #fff
	background-size: 14px 20px

.twentytwenty-horizontal
	.twentytwenty-handle
		&::before, &::after
			width: 1px
			margin-left: 0.5px
			box-shadow: none 

.twentytwenty-left-arrow, .twentytwenty-right-arrow
	transform: rotate(135deg)

.twentytwenty-left-arrow
	left: 42%
	border-right: 2px solid $color-gold
	border-bottom: 2px solid $color-gold
	
.twentytwenty-right-arrow
	right: 42%
	border-left: 2px solid $color-gold
	border-top: 2px solid $color-gold

	
.twentytwenty-overlay
	text-transform: uppercase
	display: none
.twentytwenty-before-label:before 
    content: "до"
.twentytwenty-after-label:before 
    content: "После"
