@import "vars.sass"
@import "input-range.sass"


#section
	&_1, &_2, &_3, &_6, &_7, &_10, &_11, &_13, &_15
		height: auto
		position: relative


// inquirer-discount section_1
.inquirer-discount
	background: url(../img/section1/bg-img_gerl_1.png) center 26px no-repeat, url(../img/section1/bg-img_petal.png) center 254px no-repeat
	background-color: $text-color
	background-size: 100%
	&__header
		position: absolute
		top: -81px
		width: 458px
		height: 351px
		background-color: $bg-color-decor
	.button
		width: 70%
		height: 77px
		margin: 31px 0 50px
		padding-bottom: 8px
		font-size: 1.875em
		letter-spacing: 0.025em
		line-height: 1.6
		&::before
			top: 37.5px
			right: -42px
		&::after
			top: 40.5px
		&__link
			&::before
				top: -18px
				width: 11px

.top__item
	position: relative
	padding: 17px 75px
	overflow: hidden
	text-align: center
	color: rgb(150, 157, 171)
	&::after
		content: ""
		position: absolute
		left: -11px
		bottom: 0
		width: 104.9%
		height: 1px
		background-color: rgb(90, 97, 112)
		

.title__item
	padding: 25px 25px 0
	&_text-white
		color: $text-white

.text__item
	padding: 17px 25px 0
	text-align: center
	font-size: 1em
	&_mod-gold
		font-family: "Georgia", "Helvetica", "Open Sans", sans-serif
		font-style: italic
		font-size: 1.5em
		color: $text-gold
	&_mod-brown
		color: $text-brown
	&_mod-grey
		color: $text-grey

.questions
	&__container
		position: relative
		margin-top: 270px
		text-align: center
		color: #fff
	&__item
		position: relative
	&__title
		padding: 35px 60px 14px
		line-height: 1.923
	&__text
		position: absolute
		display: block
		width: 100%
		bottom: -95px
		line-height: 2.2
		color: rgb(132, 139, 152)

.questions__item_mod
	.questions__title
		padding-top: 18px
		padding-bottom: 0
		line-height: 1.58

.answer
	&__item
		margin-top: 20px
		&:last-child
			margin-top: 22px
	&__link
		display: inline-block
		width: 278px
		height: 97px
		border: 2px solid rgb(95, 101, 115)
		box-sizing: border-box
		font-size: 1.125em
		line-height: 5.4
		transition: all 0.4s ease
		&:link, &:visited
			text-decoration: none
			color: #fff
		&:hover
			text-decoration: none
			background-color: rgb(95, 101, 115)
		&_active
			background-color: rgb(95, 101, 115)

.steps
	margin-top: 25px
	margin-bottom: 55px
	&__item
		display: inline-block
		width: 6px
		height: 6px
		margin-left: 20px
		border-radius: 50%
		background-color: rgb(132, 139, 152)
		&_active
			width: 8px
			height: 8px
			background-color: #fff


// descr-leather section_2
.descr-leather
	background-color: #fff
	.title__item
		padding-top: 38px
	&__img-wrap
		position: relative
		width: 370px
		height: 399px
		margin-top: -2px
	&__image
		position: relative
		left: 98px
		top: 16px
	&__markers
		position: absolute
		width: 44px
		height: 44px
		border: 1px solid $color-gold
		border-radius: 50%
		background-color: rgb(250, 249, 247)
		text-align: center
		line-height: 2.7
		&_first
			top: 120px
			left: 97px
		&_second
			top: 21px
			right: 10px 
		&_third
			bottom: 37px
			right: 102px
	&__description
		padding: 0 30px 14px

.descript
	&__item
		margin-bottom: 30px
	&__title
		margin-top: -12px
		margin-bottom: 14px
		text-align: left
		line-height: 1.923
	&__text
		line-height: 1.5
		color: $text-brown
	&__text-link
		text-decoration: underline
		line-height: 1.5
		&:link, &:visited
			color: rgb(152, 128, 29)
		&:hover
			text-decoration: none
			color: $color-gold


// types-aging section_3
.types-aging
	background-image: url("../img/section3/bg-section3.png")
	background-size: cover
	.title__item
		padding-top: 38px
	&__content
		margin: 27px 29px 48px
		text-align: center

.content__img-wrap
	position: relative
	width: 187px
	height: 187px
	margin: 0 auto 16px
	border: 20px solid #fff
	border-radius: 50%
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1)
	background-color: #000

.content
	&__item
		margin-bottom: 40px
	&__img
		position: absolute
		top: 0
		left: 0
		&_first
			top: -8px
			left: -4px
			width: 102.5%
		&_second
			top: 6px
			left: -28px
	&__title
		line-height: 1.923
		padding-bottom: 15px
	&__item:last-child
		.content__title
			padding-bottom: 19px
	&__text
		line-height: 1.5
		color: rgb(99, 105, 118)
			

//important-know section_4
.important-know
	height: 1331px
	background: url(../img/section4/bg-img_gerl_2.png) center top no-repeat, url(../img/section4/img-foliage.png) 349px 380px no-repeat
	background-color: $text-color
	background-size: 100%, 27%
	&__content
		position: relative
		height: 985px
		margin-top: 43px
		text-align: center
		background-color: $bg-color-decor
	.title__item
		padding-top: 39px
		color: #fff
	.text__item
		padding-top: 19px
	.content__title
		padding: 41px 25px 24px
		line-height: 1.5
	.content__text
		padding: 0 27px
		font-size: 1.125em
		font-weight: 500
		line-height: 1.667
		color: rgb(134, 140, 153)

.ik-slider
	&__item
		height: 656px
		background-size: 100%
		&_slide1
			background: url(../img/section4/img-slide1.png) 28px 112px no-repeat
			.ik-slider__descript
				bottom: 39px
		&_slide2
			background: url(../img/section4/img-slide2.png) 31px 53px no-repeat
			.ik-slider__descript
				bottom: 63px
		&_slide3
			background: url(../img/section4/img-slide3.png) 113px 104px no-repeat
			.ik-slider__descript
				bottom: 46px
		&_slide4
			background: url(../img/section4/img-slide4.png) 25px 112px no-repeat
			.ik-slider__descript
				bottom: 88px
	&__descript
		position: absolute
		padding: 0 110px
		font-size: 1.125em
		font-weight: 500
		line-height: 1.389
		color: #fff

.owl-nav
	position: absolute
	top: 40.5%
	width: 458px
	height: 0
.owl-next, .owl-prev
	display: inline-block
	width: 40px
	height: 69px
	border: 2px solid $color-gold
	transition: all 0.3s ease
	&:hover
		background-color: $color-gold
		&:before
			border-color: #fff
	&::before
		content: ""
		position: absolute
		top: 30px
		width: 12px
		height: 12px
		display: block
		border-left: 2px solid $color-gold
		border-top: 2px solid $color-gold
.owl-prev
	float: left
	margin-left: 1px
	&::before
		left: 19px
		transform: rotate(-45deg)
.owl-next
	float: right
	&::before
		right: 16px
		transform: rotate(135deg)
	

//call-back section_5
.call-back
	padding-bottom: 58px
	background: url(../img/section5/bg-img_gerl_3.png) right bottom no-repeat, url(../img/section5/img-strip.png) -50px 565px no-repeat
	background-size: 45%, 100%
	background-color: $bg-color-light
	&__header
		margin-top: 104px
		color: $text-brown
	.text__item
		padding-top: 23px
.header
	&__title
		color: $text-color
	&__text
		text-align: center
		color: inherit
	&__list
		margin: 27px 25px 2px
.list__item
	display: inline-block
	position: relative
	width: 49%
	margin-bottom: 12px
	padding-left: 52px
	font-weight: 500
	line-height: 1.5
	&::before
		content: ""
		position: absolute
		top: 14px
		left: 3px
		width: 35px
		height: 1px
		background-color: $text-brown
	&_mod
		width: 100%
		padding-left: 255px
		&::before
			display: none

.cb-form
	margin: 54px 41px
	width: 296px
	font-weight: 700
	color: $text-brown
	text-align: center
	&__text
		padding: 37px 10px 32px
	&__input
		width: 100%
		height: 58px
		margin-bottom: 12px
		font-family: 
		font-size: 0.875em
		line-height: 3.429
		text-align: center
		border: none
	&__button
		margin-top: 18px

// warning section	
.warning
	background: url(../img/section6/bg-img_gerl_4.png) 193px bottom no-repeat,  url(../img/section6/bg-section6.png) center no-repeat
	background-size: 60%, cover
	&__header
		position: absolute
		top: -54px
		left: 11px
		width: 458px
		height: 342px
		background-color: rgb(232, 234, 238)
		.title__item
			padding-top: 38px
		.text-item
			padding-top: 20px
	&__content
		margin: 318px 25px 60px
	&__steps
		margin: -18px 0 60px
	.steps__item
		position: relative
		margin-right: 61px
		&:last-child
			margin-right: 0
	.steps__text
		display: inline-block
		position: absolute
		top: 15px
		left: -30px
		width: 70px
		font-size: 0.875em
	.list__item
		display: block
		width: 100%
		margin-bottom: 24px
		padding-left: 45px
		&::before
			width: 30px
	.button
		width: 216px
		margin: 8px 0  0 4px

//minus-ten section
.minus-ten
	&__header
		margin-top: 13px
	.title__item
		padding: 25px 11px 0
	.text__item
		padding: 25px 35px 0
	.content__title
		padding: 25px 0 14px 11px
	.content__list
		margin: 27px 0 0 86px
	.list__item
		width: 100%
		margin-bottom: 6px
		color: $text-brown
		&::before
			width: 28px
			left: 15px
	.button
		margin: 16px 81px 12px
	&__service
		text-align: center
		margin-bottom: 47px
	&__link
		text-decoration: underline
		line-height: 2.25
		&:link, &:visited, &:active
			color: $color-gold
		&:hover
			text-decoration: none
			color: rgb(152, 128, 29)
	
.input-cont
	margin-left: 45px
	input[type=checkbox]:checked + label::after
		content: ""
		position: absolute
		top: 16px
		left: 63px
		width: 8px
		height: 12px
		transform: rotate(45deg)
		border-bottom: 2px solid rgb(152, 128, 29)
		border-right: 2px solid rgb(152, 128, 29)
	&__label
		display: inline-block
		cursor: pointer
		position: relative
		padding-left: 93px
		line-height: 3
		&::before
			content: ""
			position: absolute
			top: 13px
			left: 55px
			width: 23px
			height: 23px
			border: 2px solid rgb(152, 128, 29)

.content__image
		width: 407px
		height: 380px
		margin: 0 auto
		background: url(../img/section7/bg-img_gerl_5.png) center -73px no-repeat #fff
		background-size: 100%

//minus-ten-ss		
.minus-ten-ss
	background-color: #fff
	&__header
		margin-top: 2px	
		margin-left: 5px
	.content
		margin: 28px 14px 0 41px
		&__item
			width: 100%
			height: 92px
			&:nth-child(odd)
				margin-bottom: 23px
			&:nth-child(even)
				margin-bottom: 33px
		&__image-wrap
			display: inline-block
			width: 53.193%
			height: 92px
			float: left
		&__text-wrap
			display: inline-block
			width: 42%
		&__service-name
			margin-top: -7px
		&__service-price
		 	margin-top: -5px
	.button_small
		margin: 5px 0 0 0
	.button_mod-back
		margin: 14px 144px 36px


// results section
.results
	height: 890px
	background: url(../img/section8/bg-img_gerl_6.png) center top no-repeat, url(../img/section8/img-foliage_2.png) left 806px no-repeat
	background-color: $text-color
	background-size: 100%, 84px 244px
	.title__item
		padding: 38px 15px 0
	.text__item
		padding: 25px 15px 0
	&__content
		position: relative
		height: 710px
		margin-top: 32px
		background-color: $bg-color-decor
	.content__title
		padding-top: 40px
		line-height: 1.5		

.res-slider
	&__item
		width: 360px
		height: 536px
		margin: 0 auto
		&_slide1
			.img-before
				background: url(../img/section8/img-before_1.png) center no-repeat
			.img-after
				background: url(../img/section8/img-after_1.png) center no-repeat
		&_slide2
			.img-before
				background: url(../img/section8/img-before_1.png) center no-repeat
			.img-after
				background: url(../img/section8/img-after_1.png) center no-repeat
		&_slide3
			.img-before
				background: url(../img/section8/img-before_1.png) center no-repeat
			.img-after
				background: url(../img/section8/img-after_1.png) center no-repeat
		&_slide4
			.img-before
				background: url(../img/section8/img-before_1.png) center no-repeat
			.img-after
				background: url(../img/section8/img-after_1.png) center no-repeat
		&_slide5
			.img-before
				background: url(../img/section8/img-before_1.png) center no-repeat
			.img-after
				background: url(../img/section8/img-after_1.png) center no-repeat
		&_slide6
			.img-before
				background: url(../img/section8/img-before_1.png) center no-repeat
			.img-after
				background: url(../img/section8/img-after_1.png) center no-repeat
		&_slide7
			.img-before
				background: url(../img/section8/img-before_1.png) center no-repeat
			.img-after
				background: url(../img/section8/img-after_1.png) center no-repeat

	.img-wrap
		position: relative
		height: 285px
		margin-top: 12px
		&::before
			content: ""
			position: absolute
			top: 0
			left: 50%
			width: 2px
			height: 285px
			background-color: #fff
	.img-before, .img-after
		width: 180px
		height: 285px
		display: inline-block
	.img-before
		float: left
	.descr-wrap
		text-align: center
		background-color: #fff
	.custom-name
		font-size: 1.623em
		line-height: 1.848
		padding-top: 17px	
	.proc-descr
		padding: 14px 25px 30px
		line-height: 1.5
	.owl-nav
		top: 44.5%	
	.owl-dots
		position: absolute
		bottom: -47px
		width: 100%
		text-align: center
		.owl-dot
			display: inline-block
			width: 6px
			height: 6px
			margin-left: 25px
			border-radius: 50%
			background-color: rgb(116, 121, 133)
		.owl-dot.active
			background-color: #fff



// trust-us section_10
.trust-us
	background: url(../img/section8/img-foliage_2.png) 0px -83px no-repeat, url(../img/section9/bg-img_petal_2.png) center 349px no-repeat
	background-size: 84px 244px, 100%
	background-color: rgb(62, 72, 83)
	.title__item
		padding-top: 108px
	.text__item
		padding-top: 25px
	&__content
		margin: 40px 0 62px

.tu-slider
	&__item
		height: 623px
		background-size: 100%
		&_slide1
			background: url(../img/section9/screen_1.png) center no-repeat
		&_slide2
			background: url(../img/section9/screen_1.png) center no-repeat
		&_slide3
			background: url(../img/section9/screen_1.png) center no-repeat
		&_slide4
			background: url(../img/section9/screen_1.png) center no-repeat
		&_slide5
			background: url(../img/section9/screen_1.png) center no-repeat
	.owl-nav
		top: 42.5%

// achievements section_10
.achievements
	&__content
		margin: 58px 0 32px
	.title__item
		padding-top: 39px

.ac-slider
	&__item
		margin: 0 50px
		text-align: center
	.icon-wrap
		width: 125px
		height: 125px
		margin: 0 auto
		padding: 8px 0
		border-radius: 50%
		background-color: rgb(245, 245, 245)
	.icon__item
		width: 109px
		height: 109px
		margin: 0 auto
		border-radius: 50%
		border: 2px solid  rgba(211, 183, 67, 0.4)
		text-align: center
		svg
			width: 50px
			height: 50px
			margin: 27px auto
	.icon__text
		padding: 17px 35px
		&_mod
			font-size: 1.5em
			font-weight: bold
	.owl-nav
		top: 17.5%
		
// about-me section_11
.about-me
	background: url(../img/section11/img-Leyla.png) left 301px no-repeat, url(../img/section11/bg-section11.png) center no-repeat
	background-size: 255px 476px, cover
	.title__item
		padding: 40px 25px 0
		text-align: left
		line-height: 1.5
	.text__item
		padding: 0
		&_first
			.item-first
				padding: 27px 15px 25px 29px
				text-align: left
			.item-second
				text-align: left
		&_second
			margin: 13px 0 0 178px
			.item-first
				padding: 0 0 0 0
			.item-second
				font-size: 0.875em
				line-height: 1.724
				text-align: left
				padding: 20px 0 0 79px
	pre
		text-align: left
		padding-left: 87px
		padding-right: 29px

.am-form
	margin: 32px 40px 49px
	text-align: center
	&__input
		width: 266px
		height: 58px
		margin: 34px 0 13px
		font-size: 0.875em
		text-align: center
		color: $text-brown
		border: none
	&__button
		width: 266px


// leyla-tv section_12
.leyla-tv
	height: 782px
	background: url(../img/section12/bg-img_petal_3.png) center 296px no-repeat, url(../img/section12/bg-img_gerl_7.png) top center no-repeat
	background-size: 100%, 100%
	background-color: $text-color
	.title__item
		padding: 38px 29px 10px
	&__logo-wrap
		display: flex
		flex-flow: column wrap
		justify-content: space-between
		padding: 25px 29px 0
		.logo-wrap__row
			height: 59px
			display: flex
			flex-flow: row wrap
			justify-content: space-between
		.logo-wrap__row:last-child
			padding: 0 7px
			justify-content: space-around
		.logo__item
			opacity: 0.4

.logo-wrap__row:first-child
	.logo__item:nth-child(3), .logo__item:last-child
		padding-top: 11px

.ltv-slider
	&__item
		position: relative
	.owl-nav
		top: 36.5%
	.owl-next
		margin-right: 0
	.owl-dots
		position: absolute
		left: -11px
		bottom: -33px
		width: 100%
		text-align: center
		.owl-dot
			display: inline-block
			width: 6px
			height: 6px
			margin-left: 25px
			border-radius: 50%
			background-color: rgb(116, 121, 133)
		.owl-dot.active
			background-color: #fff

.youtube-box
	width: 362px
	height: 217px
	margin: 30px auto
	box-shadow: 0 5px 15px 3px rgb(25, 29, 36)
	iframe
		position: absolute
		top: 0px
		left: 47px
		width: 364px
		height: 219px
	&__play
		height: 217px
		display: block
		background-position: center
		background-repeat: no-repeat
		background-size: 108%
		&::before
			content: ""
			position: absolute
			top: 82px
			left: 202px
			width: 45px
			height: 45px
			border-radius: 50%
			background-color: #fff
		&::after
			content: ""
			position: absolute
			top: 94px
			left: 218.5px
			width: 0
			height: 0
			border: 11px solid transparent
			border-left: 16px solid $color-gold
			border-right: 0
			
// diploma section_13
.diploma
	background-color: $bg-color-light
	&__header
		position: absolute
		top: -70px
		left: 11px
		width: 458px
		height: 486px
		background-color: #fff
	.title__item
		padding-top: 34px
	.list
		margin: 41px 25px 0 129px
	.list__item
		display: block
		width: 100%
		margin-bottom: 51px
		&::before
			top: -20px
			left: -75px
			width: 110px
			height: 100px
	.item_1
		&::before
			background: url(../img/section13/logo-diploma_1.png) center no-repeat
	.item_2
		&::before
			background: url(../img/section13/logo-diploma_2.png) center no-repeat
	.item_3
		&::before
			top: -19px
			left: -83px
			background: url(../img/section13/logo-diploma_3.png) center no-repeat
	&__content
		margin: 488px 0 20px

.dp-slider
	&__item
		width: 329px
		height: 322px
		margin: 0 auto
	.item-diploma
		position: relative
		width: 329px
		height: 265px
		background-color: #fff
		margin: 0 auto
		border: 1px solid rgb(231, 231, 231)
		&::after
			content: ""
			position: absolute
			bottom: -40px
			left: 0px
			width: 327px
			height: 33px
			background: url(../img/section13/img-shadow.png) 15px center no-repeat
			background-size: 100%
		.img-diploma
			position: absolute
			top: 20px
			left: 20px
			width: 287px
			height: 227px
	.owl-nav
		top: 32%

// about-as section_14
.about-as
	.title__item
		padding-top: 38px
	.text__item
		padding-top: 20px
	&__content
		height: 295px
		margin: 45px 0 50px
	.button
		margin: 15px 81px 23px
	&__link-wrap
		text-align: center
		margin-bottom: 43px
	&__link
		font-size: 0.875em
		line-height: 2.25
		text-decoration: underline
		&:link, &:visited, &:active
			color: $color-gold
		&:hover
			text-decoration: none
			color: rgb(152, 128, 29)
.abs-slider
	top: 0 !important
	&__item
		position: relative
		height: 295px
		opacity: 0.5
		overflow: visible !important
		&::after
			content: ""
			position: absolute
			bottom: -40px
			left: 0px
			width: 278px
			height: 33px
			background: url(../img/popup/img-shadow.png) 10px center no-repeat
			background-size: 100%

.abs-slider__nav
	position: relative
	top: 50%
	left: 0
	height: 0
.abs-slider__prev, .abs-slider__next
	display: inline-block
	position: absolute
	top: 112px !important
	width: 40px
	height: 69px
	border: 2px solid $color-gold
	z-index: 999
	cursor: pointer
	&:hover
		background-color: $color-gold
		&::before
			border-color: #fff
	&::before
		content: ""
		position: absolute
		top: 26px
		width: 12px
		height: 12px
		display: block
		border-left: 2px solid $color-gold
		border-top: 2px solid $color-gold
.abs-slider__prev
	left: -50px !important
	&::before
	  transform: rotate(-45deg)
	  left: 17px
.abs-slider__next
	right: -50px !important
	&::before
		transform: rotate(135deg)
		left: 9px

.abs-slider__item.slick-slide
	opacity: 0.4
	z-index: 5
.abs-slider__item.slick-current
	opacity: 1
	z-index: 9


// all-services section_15
.all-services
	background: url(../img/section15/bg-section15.png) center no-repeat
	background-size: cover
	
.a-serv
	.title__item
		padding-top: 39px
	&__content
		margin: 44px 0 48px
	&__item
		width: 398px
		min-height: 68px
		margin: 0 auto
		border-bottom: 1px solid rgb(88, 95, 110)
		background-color: $bg-color-decor
		font-size: 1.125em
		line-height: 3.889
		color: #fff
		text-align: center
		transition: all 0.4s ease
		&:hover
			cursor: pointer
			background-color: rgb(93, 100, 115)
		&:last-child
			border: none
		&_active
			background-color: rgb(93, 100, 115)
	&__item_detail
		position: relative
		width: 398px
		height: 460px
		margin: 0 auto
		display: none
		border: none
		font-size: 1em
		line-height: 1.5
		text-align: left
		color: $text-color
		background: url(../img/section15/bg-img_item3.png) center no-repeat
		background-size: cover
		&:hover
			cursor: default
	.detail-wrap
		position: absolute
		bottom: 0
		padding: 0 25px 11px
		background-color: rgba(255, 255, 255, 0.7)
	.item__title
		line-height: 2.692
		text-align: left
	.item__descr
		margin-top: -10px
		color: rgb(93, 100, 115)
	.item__price
		@extend .item__title
		display: inline-block
		font-size: 1.625em
	.button
		position: absolute
		bottom: 21px
		right: 21px
		width: 219px
		height: 43px
		font-size: 0.741em
		line-height: 3
		&::before, &::after
			display: none
	.button__link::before
			display: none

// footer
.footer
	height: 1323px
	text-align: center
	background: url(../img/footer/bg-img_item8.png) center no-repeat, url(../img/footer/bg-img_petal_4.png) left 680px no-repeat, url(../img/footer/img-foliage_3.png) right 700px no-repeat
	background-color: $text-color
	background-size: 100%, 129px 202px, 79px 341px
	color: $text-grey
	&__logo
		display: block
		margin-top: 48px
	.title__item
		padding-top: 22px
	&__map
		margin: 36px auto 34px
		width: 400px
		height: 439px
		background-color: rgba(255,255,255,0.6)
	&__phone
		margin-bottom: 43px
		.phone__item
			font-family: "SFUI-Light", "Helvetica", "Open Sans", sans-serif
			font-size: 1.625em
			line-height: 1.615
			color: #fff
		.phone__descr
			position: relative
			margin-top: 10px
			padding-left: 17px
			line-height: 1.875
			font-family: inherit
		.fa-clock-o::before
				//content: "\f017"
				position: absolute
				top: 0
				left: -9px
				width: 20px
				height: 20px
				font-size: 1.1em
				font-family: FontAwesome
	.button
		width: 236px
	&__location
		position: relative
		margin-top: 32px
		line-height: 1.5
		&::after
			content: ""
			position: absolute
			top: 161px
			left: 50%
			margin-left: -124px
			width: 258px
			height: 1px
			background-color: rgb(82, 89, 100)
	.metro
		margin-bottom: 24px
		padding-left: 36px
		&::before
			content: ""
			position: absolute
			top: 2px
			left: 131px
			width: 25px
			height: 17px
			background: url(../img/footer/metro.png) center no-repeat
	&__social
		margin-top: 79px
		margin-bottom: 30px
		height: 20px
		.social__link
			margin-right: 20px
			font-size: 1.26em
			color: inherit
		.social__link:last-child
			margin-right: 0
	&__copyright
		font-size: 0.875em
		line-height: 1.714

/*popup*/
.mfp-bg
	position: absolute
	z-index: 10042
.mfp-wrap
	width: 480px
	z-index: 10043
.mfp-content
	z-index: 10045
#callback-popup
	background: url(../img/popup/layla-popup.png), url(../img/popup/bg-popup.jpg)
	background-position: -12px bottom, center
	background-repeat: no-repeat, no-repeat
	background-size: 58%, cover
	width: 457px
	height: 741px
	padding: 51px 34px 58px 29px
	margin: 0 auto
	& p
		text-align: center
	& p, pre
		color: #353a44
		font-family: "SFUI-Reg"
		font-size: 18px
		font-weight: 400
		line-height: 30px
	& pre
		margin: 25px 0 0 75px
	& h2, .prof
		text-align: left
		padding-left: 140px
	.prof
		font-size: 16px
		margin-bottom: 35px
	input
		border: none
		width: 256px
		height: 58px
		margin: 0 0 12px 150px
	.button
		width: 256px
		height: 83px
		line-height: 24px
		color: #fff
		margin: 10px 0 0 150px
		&::after, &::before
			content: none

#modal-popup
	background:  url(../img/popup/bg-popup_2.jpg) center no-repeat
	background-size: cover
	width: 457px
	height: 490px
	margin: 0 auto
	padding: 82px 0
	text-align: center

.modal-popup__title
	font-size: 26px
	font-weight: 300
	line-height: 46px
	padding: 0 47px 40px 47px

.icon-list
	list-style: none
	margin-top: 35px
	&__item
		display: inline-block
		margin-right: 15px
	&__link
		position: relative
		display: inline-block
		width: 44px
		height: 44px
		background-position: center
		background-repeat: no-repeat
		background-size: 100%
		&::before
			content: ''
			position: absolute
			top: -5px
			left: -5px
			width: 54px
			height: 54px
			border: 1px solid #bfa330
			border-radius: 50%
			opacity: 0
			transition: opacity 0.3s ease
		&:hover
			&::before
				opacity: 1
	&__item:nth-child(1)
		margin-left: 15px
		.icon-list__link
			background-image: url(../img/popup/fb.png)
	&__item:nth-child(2)
		.icon-list__link
			background-image: url(../img/popup/vk.png)
	&__item:nth-child(3)
		.icon-list__link
			background-image: url(../img/popup/instagram.png)
	&__item:nth-child(4)
		.icon-list__link
			background-image: url(../img/popup/youtube.png)


input[placeholder]
	font-size: 14px
	color: #8f7e76
	text-align: center
input::-moz-placeholder
	font-size: 14px
	color: #8f7e76
	text-align: center
input:-moz-placeholder
	font-size: 14px
	color: #8f7e76
	text-align: center
input:-ms-input-placeholder
	font-size: 14px
	color: #8f7e76
	text-align: center
@import "media.sass"